.HeroSection {
  background: var(--silver);
}

.HeroSection .flex-grid {
  padding: 96px 0;
  gap: 104px;
  display: flex;
  justify-content: center;
}

.HeroSection .frame-1 {
  width: 657px;
  height: auto;
  gap: 32px;
}

.HeroSection .image {
  width: 391px;
}

.HeroSection .frame-1 .button-area {
  margin-top: 24px;
}

.HeroSection .bullet-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 17px;
  gap: 8px;
}

.HeroSection div.bullet-area span.slider-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(76, 175, 79, 0.2);
  border-radius: 50px;
  cursor: pointer;
}

.HeroSection div.bullet-area span.slider-bullet.selected {
  background-color: rgba(76, 175, 79, 1);
}
