.HeroSection {
  background: var(--silver);
}

.HeroSection .flex-grid {
  padding: 96px 144px;
  gap: 104px;
  display: flex;
  justify-content: center;
}

.HeroSection .frame-1 {
  width: 657px;
  height: auto;
  gap: 32px;
}

.HeroSection .image {
  width: 391px;
}

.HeroSection .button {
  margin-top: 24px;
}