.Headline {
  margin: 0px;
}

.Headline.h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

.Headline.h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.Headline.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.Headline.h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.Headline.black {
  color: #263238;
}

.Headline.grey {
  color: #4D4D4D;

}

.Headline.primary {
  color: var(--primaryColor);
}

.Headline.white {
  color: #FFFFFF;

}