.FooterDown {
  position: relative;
  background-color: var(--footer);
  margin-top: 0px;
  padding: 48px 0;
  gap: 125px;
}

.FooterDown .flex-grid {
  display: flex;
  justify-content: space-between;
}

.FooterDown .company-info {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.FooterDown .company-text {
  gap: 0;
}

.FooterDown .company-midia {
  display: flex;
  gap: 16px;
}

.FooterDown .social-links {
  display: flex;
  gap: 24px
}

.FooterDown .about-company {
  width: 160px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-decoration: none;
}

.FooterDown .about-company a {
  text-decoration: none;
}

.FooterDown .about-company a:hover {
  text-decoration: underline;
}

.FooterDown .email-set {
  display: flex;
  flex-direction: column;
  gap: 24px;
}