.FooterDown {
  position: relative;
  background-color: var(--footer);
  margin-top: 0px;
  padding: 48px 0;
  gap: 125px;
}

.FooterDown .flex-grid {
  display: flex;
}

.FooterDown .company-info {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.FooterDown .company-text {
  gap: 0;
}

.FooterDown .company-midia {
  display: flex;
  gap: 16px;
}