.ClientsSection .flex-grid {
  padding: 36px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ClientsSection .clients-text {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ClientsSection .clients-logo {
  width: 1152px;
  display: flex;
  justify-content: space-around;
  padding: 36px 0px;

}

.ClientsSection .logo {
  width: 48px;
  height: 48px;
  align-content: center;
}