.UpdateSection .flex-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.UpdateSection .grid-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 262px;
}

.UpdateSection .community-update {
  display: flex;
  justify-content: space-between;
}